body {
    background-color: #121212; /* Dark background color */
    color: #ffffff; /* Light text color for contrast */
}

.navbar {
    background-color: #333333;  
}

.navbar-brand, .nav-link {
    color: #f0f0f0 !important;  
}

.navbar-nav .nav-link:hover {
    color: #ff6600 !important;  
}

.container {
    margin-top: 50px;
}

.card-body {
    background-color: #121212; /* Matching dark card background */
    color: #ffffff; /* Ensure the text is readable on the dark background */
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}

.form-control {
    border-radius: 5px;
    background-color: #495057; /* Darker input field background */
    color: #ffffff; /* Light text inside inputs */
    border: 1px solid #6c757d; /* Light border color */
}

.btn-primary {
    background-color: #ff6600;
    border-color: #ff6600;
}

.btn-primary:hover {
    background-color: #e65c00;
    border-color: #e65c00;
}

.footer {
    background-color: #333333;
    padding: 20px 0;
    text-align: center;
    margin-top: 50px;
    font-size: 0.9em;
    color: #ffffff; /* Light footer text for contrast */
}

.modal-content {
    background-color: #495057; /* Dark modal background */
    color: #ffffff; /* White text inside modal */
}

.modal-header .btn-close {
    color: #ffffff; /* Close button color */
}